.container{
	

	width: 80%;
}
ul{
	list-style: none;
	position: relative;
	padding:0px;
	background-color: #5FB404;
	line-height: 40px;
}
ul>li{
	padding:0px;
	display: inline-block;
	border-right: 1px solid white;
	height:20px;
	line-height: 20px;


}
#item-1{
	float: left;
}
.item-2{
	height:40px;
	line-height: 40px;
	color:white;
	padding:0px 3px;
}
ul>li.item{
	
	padding:0px 3px;
	color: white;
}
li#search{
	line-height: 40px;
	float: right;
	color: white;
	padding-right: 5px;
}
ul.container-1>li{
	display: block;
	line-height: 25px;
	border-bottom: 1px solid black;
	padding-left: 5px;
	color: white;
}
ul>li:last-child{
	border-right: 0px;
}
ul.container-1{
	width: 170px;
	display: none;
	position: absolute;
	top:40px;

}
.item-2:hover .container-1{
	display: block;
}
ul.container-2>li{
	display: block;

	line-height: 25px;
	border-bottom: 1px solid black;
}
ul.container-2{
	width:170px;
	display: block;
	display:none;
	position: absolute;
	left: 169px;
	top:21px;
}
.sub-item:hover{
	background-color: #688A08;
	color:white;
}
.sub-item:hover .container-2{
	display:block;
	background-color: #688A08;
	color:black !important;
}
